:root{
    --primary-color:rgb(244, 53, 190);
    --secondary-color:rgb(4, 4, 118);
    --accent1-color: rgb(9, 104, 148);
    --heading-font: "Times New Roman", "Georgia" serif;
    --body-font: Arial, Helvetica, sans-serif;
}
.hero{
    position: relative;
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color); 
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
.socialmedia {
    text-decoration: none;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 10%; 
    transform: translateY(-50%);
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #ffffff;
}
.hero article {
    position: absolute;
    bottom: 42%; 
    left: 48%;
    transform: translateX(-50%);
    width: 100%; 
    opacity: 0.8;
    background-color: #ffffff;
    margin: 2%; 
    padding: 5px;
}
.hero article img{
    width: 125px;
    float: right;
}