:root{
    --primary-color:rgba(197, 224, 228, 0.982);
    --secondary-color:rgb(4, 4, 118);
    --accent1-color: rgb(9, 104, 148);
    --heading-font: "Times New Roman", "Georgia" serif;
    --body-font: Arial, Helvetica, sans-serif;
}
.hero{
    position: relative;
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 10px 20px;
    gap: 10px 80px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    justify-content: space-around;
    
}
nav a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    border-right: 0px;
}
nav a:hover{
    color: var(--accent1-color);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color); 
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    bottom: 90%; 
    transform: translateY(-50%);
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #ffffff;
}
.hero article {
    position: absolute;
    bottom: 40%; 
    left: 48%;
    transform: translateX(-50%);
    width: 100%; 
    opacity: 0.8;
    background-color: #ffffff;
    margin: 2%; 
    padding: 2px;
}
.hero article img{
    width: 125px;
    float: right;
}
