*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --primary-color: rgba(20, 14, 200, 0.868);
    --secondary-color: #eee;
    --accent-color: gray;
    --text-color: #333;
    --border-color: #000000;
    --max-width: 840px;
    --padding-small: 10px;
    --padding-medium: 20px;
    --box-shadow: 0 0 30px var(--accent-color);
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav a {
    color:#fff;
    display: block;
    padding: var(--padding-medium);
    text-decoration: none;
    font-weight: 700;
    padding: 0.5rem;

}

h1 {
    color: var(--primary-color);
    border-bottom: #000000;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 2rem;
}
.grid{
    display: grid;
    align-items: center;
}
main {
    max-width: var(--max-width);
    grid-column: 2/3;
    margin: 1rem;
}

aside {
   width: 20rem;
   position: relative;
   grid-column: 1/2;
   grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    margin-left: 2rem;
}

main img {
    position: relative;
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 1%;
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0rem;

}
footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* class selector */
.box{
    margin: 1rem;
    border: #000000;
    padding: 1rem;
    background-color: rgba(2, 255, 7, 0.605);
    color: black;
}
aside h2{
    position: absolute;
    top: 20px;
    left: 100px;
}
.grid,header, footer{
    max-width: var(--max-width);
    margin: auto;
}
