body {
  align-content: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: rgb(54, 50, 50);
  margin: auto;
  padding: 0;
  border: #333935;
  width: max-content;
  height: auto;
}
section, section{
  background-color: #cbcbcb;
  border: 1px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block;
  text-align: left;
  
}


header, footer {
  background-color: #403c3c;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 20px;
  text-align: center;
}

img {
  width: 50%;
  border-radius: 0px;
  border-color: #333935;
  padding: 0px;
  box-shadow: 0 0 30px rgb(0, 0, 0);

}
